# Data analysis
## Import libraries

In [4]:
import pandas as pd
import os

datadir = "../data"

## Data Inspection
### ABS_Population_and_people_by_2021_SA2_(Beta).csv
#### Dataset:

In [5]:
data = pd.read_csv(os.path.join(datadir, "ABS_Population_and_people_by_2021_SA2_(Beta).csv"))
data.head()

,OBJECTID,SA2_CODE_2021,SA2_NAME_2021,AREA_ALBERS_SQKM,ASGS_LOCI_URI_2021,ERP_P_202021,ERP_212021,ERP_M_202021,ERP_F_202021,ERP_192021,...,CENSUS_302021,CENSUS_312021,CENSUS_392021,CENSUS_332021,ADFS_22021,ADFS_32021,ADFS_42021,ADFS_52021,SHAPE_Length,SHAPE_Area
0,1,101021007,Braidwood,3418.3525,https://linked.data.gov.au/dataset/asgsed3/SA2...,4330.0,1.3,2248.0,2082.0,49.9,...,3.5,7.8,180.0,4.1,20.0,182.0,0.5,5.0,3.913695,0.339397
1,2,101021008,Karabar,6.9825,https://linked.data.gov.au/dataset/asgsed3/SA2...,8546.0,1223.9,4324.0,4222.0,36.3,...,5.2,5.7,1228.0,14.4,109.0,257.0,1.6,3.7,0.138642,0.000693
2,3,101021009,Queanbeyan,4.7620,https://linked.data.gov.au/dataset/asgsed3/SA2...,11370.0,2387.7,5788.0,5582.0,36.3,...,14.2,4.9,2615.0,23.1,150.0,354.0,1.6,3.7,0.107150,0.000472
3,4,101021010,Queanbeyan - East,13.0032,https://linked.data.gov.au/dataset/asgsed3/SA2...,5093.0,391.7,2671.0,2422.0,36.2,...,11.9,4.5,1037.0,20.4,152.0,197.0,3.5,4.6,0.189549,0.001290
4,5,101021012,Queanbeyan West - Jerrabomberra,13.6748,https://linked.data.gov.au/dataset/asgsed3/SA2...,12743.0,931.9,6387.0,6356.0,36.6,...,4.1,3.0,1597.0,12.5,585.0,587.0,5.8,5.9,0.193368,0.001356

#### Notes:

### duration_sa2_hospital_shortest.pkl
#### Dataset:

In [6]:
data = pd.read_pickle(os.path.join(datadir, "duration_sa2_hospital_shortest.pkl"))
data.head()

   SA2_5DIG16  shortest_time_sec  shortest_time_min
0       11007        1143.589117               20.0
1       11008         374.559538                7.0
2       11009         202.835640                4.0
3       11010         272.384746                5.0
4       11011        1693.438621               29.0

#### Notes:

### duration_mb_hospitals.pkl
#### Dataset:

In [7]:
data = pd.read_pickle(os.path.join(datadir, "duration_mb_hospitals.pkl"))
data.head()

FileNotFoundError: [Errno 2] No such file or directory: '../data\\duration_mb_hospitals.pkl'

#### Notes:

### ed_admissions.csv
#### Dataset:

In [11]:
data = pd.read_csv(os.path.join(datadir, "ed_admissions.csv"), encoding="latin1")
data.head()

,SA Health Admissions from Emergency Department (Admit To Ward/EECU) for public metropolitan and major country hospitals by quarter,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,LHN/Hospital,NaN,NaN,2012-13,NaN,NaN,NaN,2013-14,NaN,NaN,...,NaN,NaN,2016-17,NaN,NaN,NaN,2017-18,NaN,NaN,NaN
2,NaN,NaN,NaN,Sep Quarter,Dec Quarter,Mar Quarter,Jun Quarter,Sep Quarter,Dec Quarter,Mar Quarter,...,Mar Quarter,Jun Quarter,Sep Quarter,Dec Quarter,Mar Quarter,Jun Quarter,Sep Quarter,Dec Quarter,Mar Quarter,Jun Quarter
3,Central Adelaide Local Health Network,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,0014,The Queen Elizabeth Hospital,"3,375","3,325","3,258","3,327","3,356","3,366","3,347",...,"3,369","3,382","3,390","3,507","3,267","3,223","3,673","3,963","3,999","3,854"

#### Notes:

### myhospitals-contact-details.csv

#### Dataset:

In [10]:
data = pd.read_csv(os.path.join(datadir, "myhospitals-contact-details.csv"), encoding="latin1")
data.head()

,Hospital name,Phone number,Street address,Suburb,Postcode,State,Local Hospital Network (LHN),Primary Health Network area (PHN),Website,Description,Sector,Beds,Latitude,Longitude,Hospital_ID
0,Abbotsford Private Hospital,08 9200 6282,61 Cambridge Street,West Leederville,6007,WA,NaN,NaN,www.abbotsfordhospital.com.au,NaN,Private,<50,-31.940992,115.837344,1
1,Adelaide Clinic,08 8269 8100,33 Park Terrace,Gilberton,5081,SA,NaN,NaN,www.adelaideclinic.com.au/,NaN,Private,50-99,-34.906580,138.613167,2
2,Adelaide Day Surgery Pty Ltd,08 8239 4900,18 North Terrace,Adelaide,5000,SA,NaN,NaN,http://www.curagroup.com.au/adelaide-day-surgery,NaN,Private,<50,-34.922409,138.588817,3
3,Adelaide Eye & Laser Centre,08 8274 7000,215 Greenhill Road,Eastwood,5063,SA,NaN,NaN,www.aelc.com.au,NaN,Private,NaN,-34.940420,138.621500,4
4,Adelaide Surgicentre,08 8211 0000,89 King William Street,Kent Town,5067,SA,NaN,NaN,www.asec.net.au,NaN,Private,<50,-34.917691,138.621022,5

#### Notes:

### public_hospital_list.csv
#### Dataset:

In [12]:
data = pd.read_csv(os.path.join(datadir, "public_hospital_list.csv"))
data.head()

,State,Hospital name,Establishment ID,Medicare Provider No.,Local Hospital Network identifier,Local Hospital Network,Address Line 1,Address Line 2,asgc_ra,Remoteness area,Number of available beds,2012-13 Peer Group code,Peer Group Name,Provided data for NPHED,Provided data for NHMD,Provided data for NAPEDCD,Provided data for ESWT,Provided data for NNAPCD,IHPA funding designation
0,ACT,Calvary Health Care Bruce,810000083,3531230T,801,Australian Capital Territory,1 Hayden ...,Bruce ...,0,Major Cities,303.0,L,Public acute group A,Yes,Yes,Yes,Yes,Yes,Activity-based funded hospital
1,ACT,Canberra Hospital,810000082,0090030B,801,Australian Capital Territory,Yamba Dr,Garran ...,0,Major Cities,781.0,PR,Principal referral,Yes,Yes,Yes,Yes,Yes,Activity-based funded hospital
2,ACT,QEII Family Centre,810000084,0090020F,801,Australian Capital Territory,129 Carruthers ...,Curtin ...,0,Major Cities,26.0,O1,Early parenting centres,Yes,No,No,No,No,Block-funded hospital
3,NSW,Armidale,1180J2010,0010570T,109,Hunter New England,226 Rusden ...,Armidale ...,1,Inner Regional,94.0,M,Public acute group B,Yes,Yes,Yes,Yes,Yes,Activity-based funded hospital
4,NSW,Auburn,1174D2010,0010020A,104,Western Sydney,18 Hargrave ...,Auburn ...,0,Major Cities,124.2,M,Public acute group B,Yes,Yes,Yes,Yes,Yes,Activity-based funded hospital

#### Notes:

### statistic_id608819_population-distribution-australia-2021-by-state.xlsx
#### Dataset:

In [15]:
file = os.path.join(datadir, 'statistic_id608819_population-distribution-australia-2021-by-state.xlsx')

# Get sheet names
sheets = pd.ExcelFile(file).sheet_names

tables = {}
for sheet in sheets:
    tables[sheet] = pd.read_excel(file, sheet_name=sheet)

for sheet, table in tables.items():
    print(sheet)
    print(table.head())

Overview
   Unnamed: 0                                         Unnamed: 1 Unnamed: 2  \
0         NaN                                                NaN        NaN
1         NaN                       Statistic as Excel data file        NaN
2         NaN  Population distribution in Australia in 2021, ...        NaN
3         NaN                                        Access data        NaN
4         NaN                                                NaN        NaN

   Unnamed: 3 Unnamed: 4
0         NaN        NaN
1         NaN        NaN
2         NaN        NaN
3         NaN        NaN
4         NaN        NaN
Data
   Unnamed: 0                                         Unnamed: 1  Unnamed: 2  \
0         NaN                                                NaN         NaN
1         NaN  Population distribution Australia 2021, by state          NaN
2         NaN  Population distribution in Australia in 2021, ...         NaN
3         NaN                                                NaN         NaN
4         NaN                                    New South Wales        31.8

  Unnamed: 3
0        NaN
1        NaN
2        NaN
3        NaN
4       in %

#### Notes: